@model ParcelViewModel
@section Styles{
    <link rel="stylesheet" href="~/css/form.css">

}

<div class="render-body" style="padding-left: 100px; padding-right: 100px;">
    <div style="margin-right: 10%; margin-left: 10%;">
        <form action="" method="post"
              onsubmit="return SearchBarAjax(this);" style="padding-left: 15px;" class="form-search small-form">
            <input asp-for="FilterTag" placeholder="Search By Customer Id" type="text" style="padding: 4px; min-width: 10px; width: 40%;" />

            <select id="sel" style="width: 20%; padding: 7px;">
                <option value="Parcel/GetParcelsByCustomerId">Customer Id</option>
                <option value="Parcel/SortByWeight">Sort By Weight</option>
                <option value="Parcel/SortByArrivalDate">Sort By Arrival Date</option>
                <option value="Parcel/SortByWeightAndArrivalDate">Sort By Weight And Arrival Date</option>
            </select>
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <div id="view-all">
            @await Html.PartialAsync("_Table", Model)
        </div>
    </div>

</div>