@model ParcelViewModel
@section Styles{
    <link rel="stylesheet" href="~/css/form.css">
}
@{
    Layout = "/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="row">
    <div class="col">
        <form asp-action="Update" onsubmit="return jQueryAjaxPost(this);">
            <div>
                <br />
                <input asp-for="CustomerId" value="" placeholder="Customer Id" class="fourth" style="margin:-10px 0 10px 0; width: 100%;" />
                <span asp-validation-for="CustomerId" class="form-error"></span>
                <br />
                <input asp-for="ShipmentId" value="" placeholder="Shipment Id" class="fourth" style="margin:-10px 0 10px 0; width: 100%;" />
                <span asp-validation-for="ShipmentId" class="form-error"></span>
                <br />
                <input asp-for="WareHouseId" value="" placeholder="Warehouse Id" class="fourth" style="margin:-10px 0 10px 0; width: 100%;" />
                <span asp-validation-for="WareHouseId" class="form-error"></span>
                <select asp-for="CategoryName" asp-items="Model.Categories" style="margin:5px 0 10px 0; width: 100%;"></select>
                <span asp-validation-for="CategoryName" class="form-error"></span>
                <br />
                <input asp-for="Weight" value="" placeholder="Weight" class="fourth" style="margin:-10px 0 10px 0; width: 100%;" />
                <span asp-validation-for="Weight" class="form-error"></span>
            </div>
            <div style="text-align: center">
                <input type="submit" value="Update" class="fourth" style="margin: auto;" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}