@model ShipmentViewModel
@section Styles{
    <link rel="stylesheet" href="~/css/form.css">
}
@{
    Layout = "/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="row">
    <div class="col">
        <form asp-action="Create" onsubmit="return jQueryAjaxPost(this);">
            <div>
                <label>Departure Date</label>
                <input asp-for="DepartureDate" value="" placeholder="Departure Date" class="fourth" style="color: #737373; margin:-10px 0 10px 0; width: 100%;" />
                <span asp-validation-for="DepartureDate" class="form-error"></span>
                <label>Arrival Date</label>
                <input asp-for="ArrivalDate" value="" placeholder="Arrival Date" class="fourth" style=" color: #737373; margin: -10px 0 10px 0; width: 100%;" />
                <span asp-validation-for="ArrivalDate" class="form-error"></span>
                <br />
                <input asp-for="OriginWareHouseId" value="" placeholder="Origin WareHouse Id" class="fourth" style="margin:-10px 0 10px 0; width: 100%;" />
                <span asp-validation-for="OriginWareHouseId" class="form-error"></span>
                <br />
                <input asp-for="DestinationWareHouseId" value="" placeholder="Destinantion WareHouse Id" class="fourth" style="margin:-10px 0 10px 0; width: 100%;" />
                <span asp-validation-for="DestinationWareHouseId" class="form-error"></span>
                <select asp-for="StatusId" asp-items="Model.Statuses" style="margin:5px 0 10px 0; width: 100%;"></select>
                <span asp-validation-for="Status" class="form-error"></span>

            </div>
            <div style="text-align: center">
                <input type="submit" value="Create" class="fourth" style="margin: auto;" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}