@model WarehouseViewModel
@section Styles{
    <link rel="stylesheet" href="~/css/form.css">
}

<div class="render-body" style="padding-left: 100px; padding-right: 100px;">
    <div style="margin-right: 10%; margin-left: 10%;">
        <form action="" method="post"
              onsubmit="return SearchBarAjax(this);" style="padding-left: 15px;" class="form-search small-form">
            <input asp-for="FilterTag" placeholder="Search" type="text" style="padding: 4px; min-width: 10px; width: 20%;" />

            <select id="sel" style="width: 15%; padding: 7px;">
                <option value="Warehouse/FilterByCountryName">Country</option>
                <option value="Warehouse/FilterByCityName">City</option>
            </select>
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        <div id="view-all">
            @await Html.PartialAsync("_Table", Model.Warehouses)
        </div>
    </div>

</div>