@model MailDTO
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                    <input asp-for="Name" name="name" type="text" id="name" placeholder="Your name" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                    <span asp-validation-for="Email" class="form-error"></span>
                                    <input asp-for="Email" name="email" type="text" id="email" placeholder="Your email" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                    <input asp-for="Subject" name="subject" type="text" id="subject" placeholder="Subject">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea asp-for="Message" name="message" rows="6" id="message" placeholder="Your message" required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Send Message</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-content">
                    <div class="section-heading">
                        <span>Contact Us</span>
                        <h2>Let's keep in touch</h2>
                        <p>Quisque sagittis blandit sapien et elementum. Fusce pretium viverra consequat. Aliquam at feugiat mi. Pellentesque hendrerit, felis ac sodales commodo.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <ul>
                                <li><i class="fa fa-phone"></i> 010-020-0560</li>
                                <li><i class="fa fa-support"></i> support@company.com</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <ul>
                                <li><i class="fa fa-envelope"></i> contact@company.com</li>
                                <li><i class="fa fa-globe"></i> www.company.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="map">

    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.523191023296!2d73.1520519145274!3d-0.6968991354632055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x24b599bc41b83293%3A0x401e1205d7adee5f!2zQjAzMCwgQWRkdSBDaXR5LCDQnNCw0LvQtNC40LLQuA!5e0!3m2!1sbg!2sbg!4v1635522792510!5m2!1sbg!2sbg" width="100%" height="520px" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
@section Scripts{
    <script>
        navActiveChange("nav-contact");
    </script>
    @if (Model.isSent)
    {
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            function JSalert() {

                swal("Congrats!", ", Your email was sent!", "success");
            }
            JSalert();
        </script>
    }
}