@model UserViewModel
<form asp-action="Login">
    <div>
        <label asp-for="FirstName" class="form-label"></label>
        <br />
        <input asp-for="FirstName" class="form-input" />
        <span asp-validation-for="FirstName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="LastName" class="form-label"></label>
        <br />
        <input asp-for="LastName" class="form-input" />
        <span asp-validation-for="LastName" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Email" class="form-label"></label>
        <br />
        <input asp-for="Email" class="form-input" />
        <span asp-validation-for="Email" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Password" class="form-label"></label>
        <br />
        <input asp-for="Password" class="form-input" />
        <span asp-validation-for="Password" class="form-error"></span>
    </div>
    <div>
        <label asp-for="Address" class="form-label"></label>
        <br />
        <input asp-for="Address" class="form-input" />
        <span asp-validation-for="Address" class="form-error"></span>
    </div>
    @*<div>
            <label class="form-label">Brewery</label>
            <br />
            <select asp-for="BreweryId" asp-items="Model.Breweries" class="form-input"></select>
            <span asp-validation-for="BreweryId"></span>
        </div>*@
    <div>
        <input type="submit" value="Register" class="btn-primary" />       
    </div>
</form>