@model CustomerViewModel
@section Styles{
    <link rel="stylesheet" href="~/css/form.css">
}

<div style="padding-top:170px; padding-bottom:170px; margin-left:20%; margin-right:20%;">
    <div class="container-fluid">
        <form action="" method="post"
              onsubmit="return SearchBarAjax(this);" style="padding-left: 15px;" class="form-search small-form">
            <input asp-for="FilterTag" placeholder="Search" type="text" style="padding: 4px; height: 37px; min-width: 10px; width: 35%;" />
            <select id="sel" style="width: 30%; padding: 7px;">
                <option value="Customer/FilterByName">Search by name</option>
                <option value="Customer/FilterByEmail">Search by email</option>
                <option value="Customer/FilterByCountry">Search by country</option>
            </select>
            <button class="btn btn-outline-primary btn-sm" type="submit" style="height: 37px;">Search</button>
        </form>
        <div id="view-all">
            @await Html.PartialAsync("_Table", Model.Customers)
        </div>
    </div>
</div>
